<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Bookshelf</title>
  </head>
  <body>
    <!-- Navbar -->
    <div class="card">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link {% if page_id == 'books_list' %} active {% endif %}"
              href="{{url_for('books_list.books')}}">
              Books
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page_id == 'books_form' %} active {% endif %}"
              href="{{url_for('book.add_book_form')}}">
              Add book
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if page_id == 'books_api' %} active {% endif %}"
              href="{{url_for('book_api.add_book_api')}}">
              Import book
            </a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        {% include "_messages.html" %}
        {% block content %}
        {% endblock %}
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
