{% extends 'base.html' %}
{% set page_id = 'books_api' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-8">
      <h1>Google API</h1>

      <!-- input for searching in googles API -->
      <div class="form-group">
        <form method="POST" action="{{url_for('book_api.add_book_api')}}">
          <input type="text" class="form-control" name="keyWord" aria-describedby="keyHelp" placeholder="Keyword">
          <small id="keyHelp" class="form-text text-muted">Provide keyword releted to the book</small>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Table with results of searching -->
{% if new_books %}
<div class="container" style="margin-top:5%;">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-8">
      <h5>Results:</h5>
      <form method="POST" action="/_add_all_books/">
        <input type="hidden" name="save_all" value="all" />
        <button type="submit" class="btn btn-outline-success">Save all</button>
      </form>
      <table class="table table-hover" style=margin-top:2%;>
        <t-head>
          <tr>
              <th scope="col">ID</th>
              <th scope="col">Title</th>
              <th scope="col">Authors</th>
              <th scope="col">Categories</th>
              <th scope="col"></th>
          </tr>
        </t-head>
        <t-body>
          {% for book in new_books %}
          <tr>
              <td>{{loop.index}}</td>
              <td>{{book.title}}</td>
              <td>
                {% for autor in book.authors %}
                  {{autor}}
                {% endfor %}
              </td>
              <td>
                {% for category in book.categories %}
                  {{category}}
                {% endfor %}
              </td>
              <td></td>
          </tr>
          {% endfor %}
        </t-body>
      </table>
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
