{% extends 'base.html' %}
{% set page_id = 'books_api' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-8">
      <h1>Google API</h1>

      <!-- input for searching in googles API -->
      <div class="form-group">
        <form method="POST" action="{{url_for('book_api.add_book_api')}}">
          <input type="text" class="form-control" name="keyWord" aria-describedby="keyHelp" placeholder="Keyword">
          <small id="keyHelp" class="form-text text-muted">Provide keyword releted to the book</small>
          <button type="submit" class="btn btn-primary">Search</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Table with results of searching -->
{% if new_books %}
<div class="container" style="margin-top:5%;">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-8">
      <h5>Results:</h5>
      <button type="submit" form="form_all" class="btn btn-outline-success">Save all</button>
      <button type="submit" form="form_selected" class="btn btn-outline-success">Save selected</button>
      <form id="form_all" method="POST" action="/_add_all_books/">
        <input type="hidden" name="save_all" value="all" />
      </form>
      <form id="form_selected" method="POST" action="/_add_selected_books/">
        <table class="table table-hover" style=margin-top:2%;>
          <t-head>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Authors</th>
                <th scope="col">Categories</th>
                <th scope="col">Select</th>
            </tr>
          </t-head>
          <t-body>
            {% for book in new_books %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{book.title}}</td>
                <td>
                  {% for autor in book.authors %}
                    {{autor}}
                  {% endfor %}
                </td>
                <td>
                  {% for category in book.categories %}
                    {{category}}
                  {% endfor %}
                </td>
                <td>
                  <div class="form-check">
                    <input
                      class="form-check-input position-static"
                      type="checkbox"
                      id="blankCheckbox"
                      name="selected"
                      value="{{loop.index0}}"
                      aria-label="...">
                  </div>
                </td>
            </tr>
            {% endfor %}
          </t-body>
        </table>
      </form>
      {% if new_books|length < 40 %}
      <form class="" action="/_load_more_books/" method="POST">
        <input type="hidden" name="load_more" value="10" />
        <button type="submit" class="btn btn-primary">Load more ...</button>
      </form>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}

{% endblock %}
