{% extends 'base.html' %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript">
    var authors = 1
    var categories = 1
    $(function addAuth() {
      $("a#add_auth").bind('click', function(event) {
        $.getJSON('/_add-author/'+authors, function(data) {
          var auth = authors + 1
          $('#author').append('<div class="form-group form-inline"><label class="col-sm-2">Author '
            + auth +'</label>'
            + data.new_row + "</div>")
            authors++
        });
        return false
      });
    });
    $(function addCategory() {
      $("a#add_cat").bind('click', function(event) {
        $.getJSON('/_add-category/'+categories, function(data) {
          var cat = categories + 1
          $('#category').append('<div class="form-group form-inline"><label class="col-sm-2">Category '
            + cat +'</label>'
            + data.new_row + "</div>")
            categories++
        });
        return false
      });
    });
  </script>
</head>
<div class="container">
    <div class="card">
      <div class="card-header bg-secondary text-white">
          <strong>Add new book</strong>
      </div>
      <div class="card-body">
        <form method="POST">
          {{ book_form.csrf_token }}
          {{ render_field(book_form.title, class="col-sm-5") }}
          {{ render_field(book_form.description, class="col-sm-5") }}
          {% for author in book_form.authors.entries %}
          {{ render_field(author, class="col-sm-5") }}
          <span id=author></span>
          {% endfor %}
          <a href='#' id=add_auth>
            <button
            type="button"
            class="btn btn-outline-success btn-sm"
            style="margin-left:5%;margin-bottom:2%">Add author</button>
          </a>
          {% for category in book_form.categories.entries %}
          {{ render_field(category, class="col-sm-5") }}
          <span id=category></span>
          {% endfor %}
          <a href='#' id=add_cat>
            <button
            type="button"
            class="btn btn-outline-success btn-sm"
            style="margin-left:5%;margin-bottom:2%">Add category</button>
          </a>
          <hr />
            <button
            class="btn btn-md btn-primary"
            type="submit"
            style="padding:0.5em 2em;margin-left:5%;">Save</button>
          </form>
      </div>
    </div>
</div>
<script>
  $('#add_auth')
</script>
{% endblock %}
